
.slick-arrow{
    color: black;
    display: none;

}
.slick-slide img{
    display: block;
    max-width: 100%;


}

.slick-prev{
    z-index: 100;
    left:20px !important;
    
    font-size: 0;
}


.slick-next{
    z-index: 100;
    display: none;
    right:20px !important;
    font-size: 0;
    
}
